<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,261}</string>
                <key>spriteSourceSize</key>
                <string>{307,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{310,1},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup-images-bonus_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,261}</string>
                <key>spriteSourceSize</key>
                <string>{307,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup-images-daily_cup_table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{432,76},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup_table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{432,76},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_finished.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{310,212},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{405,244},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{95,332},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{310,119},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_full_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{481,136},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{432,1},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{421,136},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{421,196},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1,332},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daily_cup-3428669380.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>daily_cup-3428669380.png</string>
        </dict>
    </dict>
</plist>
