<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween-halloween_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,297}</string>
                <key>spriteSourceSize</key>
                <string>{219,297}</string>
                <key>textureRect</key>
                <string>{{1,719},{219,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,137}</string>
                <key>spriteSourceSize</key>
                <string>{155,137}</string>
                <key>textureRect</key>
                <string>{{222,860},{155,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,312}</string>
                <key>spriteSourceSize</key>
                <string>{588,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_pumpkins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,177}</string>
                <key>spriteSourceSize</key>
                <string>{341,177}</string>
                <key>textureRect</key>
                <string>{{591,240},{341,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,237}</string>
                <key>spriteSourceSize</key>
                <string>{384,237}</string>
                <key>textureRect</key>
                <string>{{591,1},{384,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,224}</string>
                <key>spriteSourceSize</key>
                <string>{279,224}</string>
                <key>textureRect</key>
                <string>{{258,315},{279,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{934,300},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{977,38},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{934,240},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{1000,59},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,298}</string>
                <key>spriteSourceSize</key>
                <string>{255,298}</string>
                <key>textureRect</key>
                <string>{{1,419},{255,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,139}</string>
                <key>spriteSourceSize</key>
                <string>{146,139}</string>
                <key>textureRect</key>
                <string>{{222,719},{146,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{977,1},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{1011,16},{7,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{1000,38},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,13}</string>
                <key>spriteSourceSize</key>
                <string>{11,13}</string>
                <key>textureRect</key>
                <string>{{1011,1},{11,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloween-4c53dff3b8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>halloween-4c53dff3b8.png</string>
        </dict>
    </dict>
</plist>
