<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,104}</string>
                <key>spriteSourceSize</key>
                <string>{133,104}</string>
                <key>textureRect</key>
                <string>{{243,123},{133,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-rabbit_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1,378},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-rabbit_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-rabbit_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1,378},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,30}</string>
                <key>spriteSourceSize</key>
                <string>{138,30}</string>
                <key>textureRect</key>
                <string>{{272,444},{138,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,47}</string>
                <key>spriteSourceSize</key>
                <string>{131,47}</string>
                <key>textureRect</key>
                <string>{{378,94},{131,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr1_1_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{135,378},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr1_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,243},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr2_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,115}</string>
                <key>spriteSourceSize</key>
                <string>{134,115}</string>
                <key>textureRect</key>
                <string>{{136,243},{134,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr3_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{365,1},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr4_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,78}</string>
                <key>textureRect</key>
                <string>{{272,229},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr5_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,58}</string>
                <key>spriteSourceSize</key>
                <string>{153,58}</string>
                <key>textureRect</key>
                <string>{{272,309},{153,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr6_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,36}</string>
                <key>spriteSourceSize</key>
                <string>{151,36}</string>
                <key>textureRect</key>
                <string>{{272,369},{151,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr7_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,35}</string>
                <key>spriteSourceSize</key>
                <string>{139,35}</string>
                <key>textureRect</key>
                <string>{{272,407},{139,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rabbit-d5741ec213.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>rabbit-d5741ec213.png</string>
        </dict>
    </dict>
</plist>
