<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{138,56}</string>
                <key>textureRect</key>
                <string>{{220,1},{138,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_mobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{1,270},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,131}</string>
                <key>spriteSourceSize</key>
                <string>{217,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup_table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{93,324},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_finished.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{316,94},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{411,157},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{316,182},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,61}</string>
                <key>spriteSourceSize</key>
                <string>{58,61}</string>
                <key>textureRect</key>
                <string>{{411,94},{58,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobile_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{109,134},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobile_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{201,188},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{32,53}</string>
                <key>textureRect</key>
                <string>{{471,1},{32,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{360,1},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_full_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{471,56},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{1,188},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{293,270},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{1,460},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1,134},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-barbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{55,134},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-icon_balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{94,127}</string>
                <key>textureRect</key>
                <string>{{220,59},{94,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{411,245},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raffle_window-948b71df9b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>raffle_window-948b71df9b.png</string>
        </dict>
    </dict>
</plist>
