<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_ball1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,39}</string>
                <key>spriteSourceSize</key>
                <string>{19,39}</string>
                <key>textureRect</key>
                <string>{{139,120},{19,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_ball2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{139,161},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_body_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{303,103},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_blue_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{466,154},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_green_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{353,161},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_pink_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{444,195},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_red_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{165,172},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_yellow_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{206,172},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{1,415},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{247,177},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue3_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{204,213},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue4_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{51,462},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue5_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{397,137},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,34}</string>
                <key>spriteSourceSize</key>
                <string>{73,34}</string>
                <key>textureRect</key>
                <string>{{405,101},{73,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-ball_blue_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{466,154},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-ball_green_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{353,161},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-ball_pink_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{444,195},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-ball_red_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{165,172},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-ball_yellow_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{206,172},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-gummachine_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-gummachine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,139},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-gummachine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,277},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burst-images-gummachine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{165,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elipse1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{303,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_ball1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{480,115},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_ball2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{447,164},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{1,462},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{286,178},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green3_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{165,234},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green4_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{76,415},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green5_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{165,139},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gummachine_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gummachine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,139},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gummachine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,277},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gummachine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{165,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key1_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{265,139},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key2_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,12}</string>
                <key>spriteSourceSize</key>
                <string>{30,12}</string>
                <key>textureRect</key>
                <string>{{480,101},{30,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ball1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{139,1},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ball2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{377,103},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{26,415},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{247,198},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple3_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{238,219},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple4_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{89,458},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple5_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{215,139},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_ball1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{139,82},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_ball2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{447,137},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{26,462},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{286,199},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red3_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{199,249},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red4_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{114,415},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red5_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{394,170},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_body_gummachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{405,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_ball1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{139,42},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_ball2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{377,132},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow1_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{51,415},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow2_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{165,213},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow3_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{165,270},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow4_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{127,458},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow5_gum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{303,145},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>burst-f1095135b2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>burst-f1095135b2.png</string>
        </dict>
    </dict>
</plist>
