<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{390,543},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{390,543},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{390,543},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_body_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,304}</string>
                <key>spriteSourceSize</key>
                <string>{299,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{299,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,62}</string>
                <key>textureRect</key>
                <string>{{1,443},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_diadema.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{302,207},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,61}</string>
                <key>spriteSourceSize</key>
                <string>{26,61}</string>
                <key>textureRect</key>
                <string>{{403,332},{26,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{90,71}</string>
                <key>textureRect</key>
                <string>{{289,546},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,36}</string>
                <key>textureRect</key>
                <string>{{132,307},{127,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,26}</string>
                <key>textureRect</key>
                <string>{{298,332},{103,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,28}</string>
                <key>spriteSourceSize</key>
                <string>{129,28}</string>
                <key>textureRect</key>
                <string>{{1,307},{129,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,26}</string>
                <key>spriteSourceSize</key>
                <string>{130,26}</string>
                <key>textureRect</key>
                <string>{{302,304},{130,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,91}</string>
                <key>spriteSourceSize</key>
                <string>{101,91}</string>
                <key>textureRect</key>
                <string>{{293,360},{101,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,91}</string>
                <key>spriteSourceSize</key>
                <string>{96,91}</string>
                <key>textureRect</key>
                <string>{{292,453},{96,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,130}</string>
                <key>spriteSourceSize</key>
                <string>{98,130}</string>
                <key>textureRect</key>
                <string>{{1,507},{98,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{224,404},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,62}</string>
                <key>spriteSourceSize</key>
                <string>{77,62}</string>
                <key>textureRect</key>
                <string>{{434,304},{77,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{224,345},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{261,307},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_pin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,173}</string>
                <key>spriteSourceSize</key>
                <string>{73,173}</string>
                <key>textureRect</key>
                <string>{{431,368},{73,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,61}</string>
                <key>spriteSourceSize</key>
                <string>{40,61}</string>
                <key>textureRect</key>
                <string>{{152,510},{40,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,163}</string>
                <key>spriteSourceSize</key>
                <string>{101,163}</string>
                <key>textureRect</key>
                <string>{{121,345},{101,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premium_spoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,164}</string>
                <key>spriteSourceSize</key>
                <string>{63,164}</string>
                <key>textureRect</key>
                <string>{{224,490},{63,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_element_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{101,510},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{302,1},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-premium_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{289,619},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-tile_shop-shop_coins_3800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{1,337},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subscription_window-3a478513f8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>subscription_window-3a478513f8.png</string>
        </dict>
    </dict>
</plist>
