<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_user_gold_view-gold_view-speak_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,105}</string>
                <key>spriteSourceSize</key>
                <string>{177,105}</string>
                <key>textureRect</key>
                <string>{{220,133},{177,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-menubar-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{324,576},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{377,253},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-cell_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{173,313},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,341},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-color_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{133,530},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{217,372},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,473},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{133,572},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-heroes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1,209},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-heroes_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{133,446},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-life_unlim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,130}</string>
                <key>spriteSourceSize</key>
                <string>{184,130}</string>
                <key>textureRect</key>
                <string>{{220,1},{184,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-life_unlim_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,40}</string>
                <key>spriteSourceSize</key>
                <string>{59,40}</string>
                <key>textureRect</key>
                <string>{{133,488},{59,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{349,385},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-line_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{130,614},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,130}</string>
                <key>spriteSourceSize</key>
                <string>{127,130}</string>
                <key>textureRect</key>
                <string>{{1,605},{127,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-moves_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{435,517},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-multicolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{194,504},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-multicolor_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{435,559},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,130}</string>
                <key>spriteSourceSize</key>
                <string>{156,130}</string>
                <key>textureRect</key>
                <string>{{219,240},{156,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_money_hand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{133,341},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_money_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{173,209},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_money_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,92}</string>
                <key>textureRect</key>
                <string>{{399,159},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_money_pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{133,374},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,206}</string>
                <key>spriteSourceSize</key>
                <string>{217,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_body_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{324,517},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_body_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{406,1},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{73,75}</string>
                <key>textureRect</key>
                <string>{{406,82},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_mouth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,17}</string>
                <key>spriteSourceSize</key>
                <string>{46,17}</string>
                <key>textureRect</key>
                <string>{{169,355},{46,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_tutorial_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{173,261},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_user_gold_view-9123600037.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>shop_user_gold_view-9123600037.png</string>
        </dict>
    </dict>
</plist>
