<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{226,442},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1,236},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{49,71}</string>
                <key>textureRect</key>
                <string>{{458,1},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_grey_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{227,236},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_grey_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{356,98},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_grey_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{125,236},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_prt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{356,1},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_stik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{458,74},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{236,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{123,360},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{226,339},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_wick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,55}</string>
                <key>spriteSourceSize</key>
                <string>{17,55}</string>
                <key>textureRect</key>
                <string>{{289,442},{17,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_wick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,54}</string>
                <key>spriteSourceSize</key>
                <string>{27,54}</string>
                <key>textureRect</key>
                <string>{{327,442},{27,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wh_wick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{1,482},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,55}</string>
                <key>spriteSourceSize</key>
                <string>{17,55}</string>
                <key>textureRect</key>
                <string>{{308,442},{17,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,54}</string>
                <key>spriteSourceSize</key>
                <string>{27,54}</string>
                <key>textureRect</key>
                <string>{{457,148},{27,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_wick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{27,482},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_bomb-mark-mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,360},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>color_bomb-7c1cad34eb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>color_bomb-7c1cad34eb.png</string>
        </dict>
    </dict>
</plist>
