<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mclrbmb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{153,1},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{1,86},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,11}</string>
                <key>textureRect</key>
                <string>{{87,217},{28,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{150,137},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{1,222},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{87,175},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{1,358},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{84,134}</string>
                <key>textureRect</key>
                <string>{{87,273},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_petard-images-small_petard_lives_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{87,86},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_petard-images-small_petard_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_petard_blown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{87,145},{55,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_petard_lives_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{87,86},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_petard_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>small_petard-489be2280f.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>small_petard-489be2280f.png</string>
        </dict>
    </dict>
</plist>
