<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket_patch_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,98}</string>
                <key>spriteSourceSize</key>
                <string>{164,98}</string>
                <key>textureRect</key>
                <string>{{239,510},{164,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basket_patch_tournament_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,66}</string>
                <key>spriteSourceSize</key>
                <string>{113,66}</string>
                <key>textureRect</key>
                <string>{{120,709},{113,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_blik_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{248,96},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,137}</string>
                <key>spriteSourceSize</key>
                <string>{164,137}</string>
                <key>textureRect</key>
                <string>{{1,466},{164,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,78}</string>
                <key>textureRect</key>
                <string>{{405,552},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{60,752},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{323,98},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,172}</string>
                <key>textureRect</key>
                <string>{{238,610},{160,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,177}</string>
                <key>spriteSourceSize</key>
                <string>{175,177}</string>
                <key>textureRect</key>
                <string>{{248,331},{175,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_carpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,95}</string>
                <key>spriteSourceSize</key>
                <string>{206,95}</string>
                <key>textureRect</key>
                <string>{{283,1},{206,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{167,488},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_eyelid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,31}</string>
                <key>spriteSourceSize</key>
                <string>{69,31}</string>
                <key>textureRect</key>
                <string>{{167,591},{69,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{192,312},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,141}</string>
                <key>spriteSourceSize</key>
                <string>{72,141}</string>
                <key>textureRect</key>
                <string>{{425,409},{72,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{400,783},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{282,98},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{425,331},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{192,398},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,23}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{167,684},{66,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{192,371},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1,752},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_doge_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{192,429},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_doge_wreath.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,85}</string>
                <key>spriteSourceSize</key>
                <string>{164,85}</string>
                <key>textureRect</key>
                <string>{{1,605},{164,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{375,98},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{447,98},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,214}</string>
                <key>spriteSourceSize</key>
                <string>{245,214}</string>
                <key>textureRect</key>
                <string>{{1,96},{245,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-menu_bar_item_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,54}</string>
                <key>spriteSourceSize</key>
                <string>{87,54}</string>
                <key>textureRect</key>
                <string>{{400,727},{87,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-menu_bar_item_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{167,624},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,78}</string>
                <key>textureRect</key>
                <string>{{405,552},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-scene_button_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,58}</string>
                <key>spriteSourceSize</key>
                <string>{117,58}</string>
                <key>textureRect</key>
                <string>{{1,692},{117,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-toolbar_cloud_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,152}</string>
                <key>spriteSourceSize</key>
                <string>{189,152}</string>
                <key>textureRect</key>
                <string>{{1,312},{189,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_cloud_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,93}</string>
                <key>spriteSourceSize</key>
                <string>{280,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_cloud_up_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{107,93}</string>
                <key>textureRect</key>
                <string>{{400,632},{107,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_decor_cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,181}</string>
                <key>spriteSourceSize</key>
                <string>{234,181}</string>
                <key>textureRect</key>
                <string>{{248,148},{234,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>valentines-1266436f90.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>valentines-1266436f90.png</string>
        </dict>
    </dict>
</plist>
