<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>muffin-images-muffin_cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{120,153},{96,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,121}</string>
                <key>spriteSourceSize</key>
                <string>{117,121}</string>
                <key>textureRect</key>
                <string>{{1,115},{117,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{127,1},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{120,153},{96,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_mold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,103}</string>
                <key>spriteSourceSize</key>
                <string>{34,103}</string>
                <key>textureRect</key>
                <string>{{218,153},{34,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_mold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,103}</string>
                <key>spriteSourceSize</key>
                <string>{30,103}</string>
                <key>textureRect</key>
                <string>{{1,238},{30,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_mold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{120,122},{110,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>muffin-977511313b.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>muffin-977511313b.png</string>
        </dict>
    </dict>
</plist>
