<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{123,367},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{1,489},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{62,489},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{195,367},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{188,457},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{249,457},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,88}</string>
                <key>spriteSourceSize</key>
                <string>{63,88}</string>
                <key>textureRect</key>
                <string>{{411,367},{63,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{310,457},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{371,457},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{267,367},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{432,457},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{188,546},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-blue_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-green_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-purple_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-red_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-white_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-yellow_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,88}</string>
                <key>spriteSourceSize</key>
                <string>{63,88}</string>
                <key>textureRect</key>
                <string>{{123,457},{63,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{123,547},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{1,578},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_petal_centre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{339,367},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_petal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{62,578},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_petal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{249,546},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_truffle_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>truffle-b97c6390b1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>truffle-b97c6390b1.png</string>
        </dict>
    </dict>
</plist>
