<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clrbm_fired1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{177,188},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clrbm_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{331,1},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clrbm_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{94,100}</string>
                <key>textureRect</key>
                <string>{{179,86},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbm_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,83}</string>
                <key>textureRect</key>
                <string>{{179,1},{150,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,159}</string>
                <key>spriteSourceSize</key>
                <string>{87,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,146}</string>
                <key>spriteSourceSize</key>
                <string>{89,146}</string>
                <key>textureRect</key>
                <string>{{88,314},{89,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,159}</string>
                <key>spriteSourceSize</key>
                <string>{85,159}</string>
                <key>textureRect</key>
                <string>{{1,162},{85,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,156}</string>
                <key>spriteSourceSize</key>
                <string>{85,156}</string>
                <key>textureRect</key>
                <string>{{1,323},{85,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,150}</string>
                <key>spriteSourceSize</key>
                <string>{87,150}</string>
                <key>textureRect</key>
                <string>{{88,162},{87,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mclrbmb_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,150}</string>
                <key>spriteSourceSize</key>
                <string>{85,150}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,159}</string>
                <key>spriteSourceSize</key>
                <string>{87,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,146}</string>
                <key>spriteSourceSize</key>
                <string>{89,146}</string>
                <key>textureRect</key>
                <string>{{88,314},{89,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,159}</string>
                <key>spriteSourceSize</key>
                <string>{85,159}</string>
                <key>textureRect</key>
                <string>{{1,162},{85,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,156}</string>
                <key>spriteSourceSize</key>
                <string>{85,156}</string>
                <key>textureRect</key>
                <string>{{1,323},{85,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,150}</string>
                <key>spriteSourceSize</key>
                <string>{87,150}</string>
                <key>textureRect</key>
                <string>{{88,162},{87,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petards-images-mclrbmb_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,150}</string>
                <key>spriteSourceSize</key>
                <string>{85,150}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>petards-a934616a7d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>petards-a934616a7d.png</string>
        </dict>
    </dict>
</plist>
