<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbh_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,115}</string>
                <key>spriteSourceSize</key>
                <string>{101,115}</string>
                <key>textureRect</key>
                <string>{{365,275},{101,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_door_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,153},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,275},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,146}</string>
                <key>spriteSourceSize</key>
                <string>{240,146}</string>
                <key>textureRect</key>
                <string>{{1,243},{240,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_roof_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{228,397},{120,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,150}</string>
                <key>spriteSourceSize</key>
                <string>{230,150}</string>
                <key>textureRect</key>
                <string>{{243,1},{230,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_wall_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,391},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{123,391},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbh_window_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{365,153},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,115}</string>
                <key>spriteSourceSize</key>
                <string>{101,115}</string>
                <key>textureRect</key>
                <string>{{365,275},{101,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_door_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,153},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{243,275},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,146}</string>
                <key>spriteSourceSize</key>
                <string>{240,146}</string>
                <key>textureRect</key>
                <string>{{1,243},{240,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_roof_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{228,397},{120,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,150}</string>
                <key>spriteSourceSize</key>
                <string>{230,150}</string>
                <key>textureRect</key>
                <string>{{243,1},{230,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_wall_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,391},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{123,391},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gingerbread_house-images-gbh_window_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{365,153},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gingerbread_house-bc5db4e211.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>gingerbread_house-bc5db4e211.png</string>
        </dict>
    </dict>
</plist>
