<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rug-images-rug_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,149},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rug-images-rug_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rug_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,149},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rug_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rug-901d0c16ac.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>rug-901d0c16ac.png</string>
        </dict>
    </dict>
</plist>
