<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{426,425},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_1side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{60,549},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_2side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{1,570},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{58,615},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{347,553},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_coin3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,55}</string>
                <key>spriteSourceSize</key>
                <string>{11,55}</string>
                <key>textureRect</key>
                <string>{{500,341},{11,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,55}</string>
                <key>spriteSourceSize</key>
                <string>{11,55}</string>
                <key>textureRect</key>
                <string>{{500,398},{11,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_coin_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{119,514},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{112,701},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,39}</string>
                <key>spriteSourceSize</key>
                <string>{121,39}</string>
                <key>textureRect</key>
                <string>{{247,430},{121,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{60,514},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,63}</string>
                <key>spriteSourceSize</key>
                <string>{35,63}</string>
                <key>textureRect</key>
                <string>{{114,636},{35,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_ground_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{114,619},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,11}</string>
                <key>spriteSourceSize</key>
                <string>{99,11}</string>
                <key>textureRect</key>
                <string>{{237,623},{99,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_wall_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,85}</string>
                <key>spriteSourceSize</key>
                <string>{125,85}</string>
                <key>textureRect</key>
                <string>{{247,343},{125,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-flappy_wall_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,43}</string>
                <key>spriteSourceSize</key>
                <string>{114,43}</string>
                <key>textureRect</key>
                <string>{{247,471},{114,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy-flappy_bird-text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,49}</string>
                <key>spriteSourceSize</key>
                <string>{131,49}</string>
                <key>textureRect</key>
                <string>{{247,292},{131,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{426,493},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_cow_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,51}</string>
                <key>spriteSourceSize</key>
                <string>{54,51}</string>
                <key>textureRect</key>
                <string>{{1,636},{54,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{215,546},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{119,548},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_leg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{208,626},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{229,636},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_wing_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{215,474},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_wing_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{215,510},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappy_wing_fd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{117,585},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flappyleg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{215,586},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{374,350},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{153,406},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pr_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{152,611},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,66}</string>
                <key>spriteSourceSize</key>
                <string>{25,66}</string>
                <key>textureRect</key>
                <string>{{220,406},{25,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_chest_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{493,455},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,182}</string>
                <key>spriteSourceSize</key>
                <string>{150,182}</string>
                <key>textureRect</key>
                <string>{{1,330},{150,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{252,254}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_clever2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,72}</string>
                <key>spriteSourceSize</key>
                <string>{79,72}</string>
                <key>textureRect</key>
                <string>{{429,118},{79,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_ear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{347,611},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_ear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{363,512},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{57,673},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,23}</string>
                <key>spriteSourceSize</key>
                <string>{74,23}</string>
                <key>textureRect</key>
                <string>{{429,192},{74,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_foot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{245,516},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_foot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,71}</string>
                <key>spriteSourceSize</key>
                <string>{153,71}</string>
                <key>textureRect</key>
                <string>{{1,257},{153,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_foot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,147}</string>
                <key>spriteSourceSize</key>
                <string>{89,147}</string>
                <key>textureRect</key>
                <string>{{156,257},{89,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_foot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,149}</string>
                <key>spriteSourceSize</key>
                <string>{42,149}</string>
                <key>textureRect</key>
                <string>{{1,738},{42,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,115}</string>
                <key>spriteSourceSize</key>
                <string>{250,115}</string>
                <key>textureRect</key>
                <string>{{255,1},{250,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{370,453},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{408,560},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{429,262},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{428,341},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hoof1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{151,657},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hoof2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{56,733},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{380,292},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{255,118},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,43}</string>
                <key>textureRect</key>
                <string>{{429,217},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_snout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{408,664},{100,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1,514},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,135}</string>
                <key>spriteSourceSize</key>
                <string>{60,135}</string>
                <key>textureRect</key>
                <string>{{153,474},{60,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_donut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{374,405},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_jelly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{1,689},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flappy-520c3a3a61.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>flappy-520c3a3a61.png</string>
        </dict>
    </dict>
</plist>
