<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{1007,1},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{894,614},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheeks_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{265,437},{31,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{233,313},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-gold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{573,690},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,90}</string>
                <key>spriteSourceSize</key>
                <string>{109,90}</string>
                <key>textureRect</key>
                <string>{{304,673},{109,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-toolbar_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,125}</string>
                <key>spriteSourceSize</key>
                <string>{172,125}</string>
                <key>textureRect</key>
                <string>{{428,313},{172,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-window_bottom_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,310}</string>
                <key>spriteSourceSize</key>
                <string>{374,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-window_bottom_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,310}</string>
                <key>spriteSourceSize</key>
                <string>{374,310}</string>
                <key>textureRect</key>
                <string>{{377,1},{374,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{241,437},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haed_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,111}</string>
                <key>textureRect</key>
                <string>{{65,313},{166,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legs_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,88}</string>
                <key>spriteSourceSize</key>
                <string>{124,88}</string>
                <key>textureRect</key>
                <string>{{602,422},{124,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,75}</string>
                <key>spriteSourceSize</key>
                <string>{32,75}</string>
                <key>textureRect</key>
                <string>{{971,405},{32,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{894,535},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{971,257},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,283}</string>
                <key>spriteSourceSize</key>
                <string>{301,283}</string>
                <key>textureRect</key>
                <string>{{1,482},{301,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_bpx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{252,254}</string>
                <key>textureRect</key>
                <string>{{753,1},{252,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_chest1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,108}</string>
                <key>textureRect</key>
                <string>{{555,580},{156,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_chest2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,178}</string>
                <key>spriteSourceSize</key>
                <string>{216,178}</string>
                <key>textureRect</key>
                <string>{{753,257},{216,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_ear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{487,690},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_ear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,98}</string>
                <key>spriteSourceSize</key>
                <string>{43,98}</string>
                <key>textureRect</key>
                <string>{{971,305},{43,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{90,437},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{969,482},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,189}</string>
                <key>spriteSourceSize</key>
                <string>{151,189}</string>
                <key>textureRect</key>
                <string>{{304,482},{151,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{457,506},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{415,673},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{913,437},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_kristal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{447,792},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_kristal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{447,905},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_legs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{62,120}</string>
                <key>textureRect</key>
                <string>{{1,313},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{720,535},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,237}</string>
                <key>spriteSourceSize</key>
                <string>{369,237}</string>
                <key>textureRect</key>
                <string>{{1,767},{369,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,42}</string>
                <key>spriteSourceSize</key>
                <string>{87,42}</string>
                <key>textureRect</key>
                <string>{{1,437},{87,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,64}</string>
                <key>spriteSourceSize</key>
                <string>{99,64}</string>
                <key>textureRect</key>
                <string>{{457,440},{99,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{111,426},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,187}</string>
                <key>spriteSourceSize</key>
                <string>{73,187}</string>
                <key>textureRect</key>
                <string>{{372,765},{73,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_tail2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{69,52}</string>
                <key>textureRect</key>
                <string>{{170,426},{69,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_wing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,96}</string>
                <key>spriteSourceSize</key>
                <string>{183,96}</string>
                <key>textureRect</key>
                <string>{{728,437},{183,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_wing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,137}</string>
                <key>spriteSourceSize</key>
                <string>{113,137}</string>
                <key>textureRect</key>
                <string>{{313,313},{113,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_wing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,66}</string>
                <key>spriteSourceSize</key>
                <string>{163,66}</string>
                <key>textureRect</key>
                <string>{{555,512},{163,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_wing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,107}</string>
                <key>spriteSourceSize</key>
                <string>{147,107}</string>
                <key>textureRect</key>
                <string>{{602,313},{147,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>easter-9040f22ada.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>easter-9040f22ada.png</string>
        </dict>
    </dict>
</plist>
