<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,191}</string>
                <key>spriteSourceSize</key>
                <string>{264,191}</string>
                <key>textureRect</key>
                <string>{{619,1},{264,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,93}</string>
                <key>spriteSourceSize</key>
                <string>{174,93}</string>
                <key>textureRect</key>
                <string>{{1,913},{174,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{314,363},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{314,341},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_coins_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{844,791},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_coins_light_sparkles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{500,463},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-buttons-small_green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{922,557},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-buttons-small_green_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{844,718},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-epic_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,296}</string>
                <key>spriteSourceSize</key>
                <string>{330,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-honey_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,234}</string>
                <key>spriteSourceSize</key>
                <string>{311,234}</string>
                <key>textureRect</key>
                <string>{{1,299},{311,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-jam_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,145}</string>
                <key>spriteSourceSize</key>
                <string>{248,145}</string>
                <key>textureRect</key>
                <string>{{698,194},{248,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{500,502},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,44}</string>
                <key>spriteSourceSize</key>
                <string>{12,44}</string>
                <key>textureRect</key>
                <string>{{265,765},{12,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{995,630},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{995,676},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{500,548},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{948,175},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{265,850},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{948,221},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{978,175},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{994,722},{29,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,186}</string>
                <key>spriteSourceSize</key>
                <string>{285,186}</string>
                <key>textureRect</key>
                <string>{{1,535},{285,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,176}</string>
                <key>spriteSourceSize</key>
                <string>{203,176}</string>
                <key>textureRect</key>
                <string>{{333,285},{203,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_infinity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,188}</string>
                <key>spriteSourceSize</key>
                <string>{262,188}</string>
                <key>textureRect</key>
                <string>{{1,723},{262,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-lottery_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{892,473},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-lottery_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{681,554},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-ok_lottery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{707,638},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-ok_lottery_10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{687,468},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-vk_lottery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{917,630},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-menubar-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{813,557},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-more_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{721,845},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{885,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-cell_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{925,708},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{892,341},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-color_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{925,750},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{468,595},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{460,727},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{925,792},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-heroes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{288,718},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-heroes_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{885,133},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-life_unlim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,130}</string>
                <key>spriteSourceSize</key>
                <string>{184,130}</string>
                <key>textureRect</key>
                <string>{{314,463},{184,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-life_unlim_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,40}</string>
                <key>spriteSourceSize</key>
                <string>{59,40}</string>
                <key>textureRect</key>
                <string>{{947,133},{59,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{455,859},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-line_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{717,963},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,130}</string>
                <key>spriteSourceSize</key>
                <string>{127,130}</string>
                <key>textureRect</key>
                <string>{{592,727},{127,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-moves_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{759,963},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-multicolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{587,859},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-multicolor_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{800,963},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,130}</string>
                <key>spriteSourceSize</key>
                <string>{156,130}</string>
                <key>textureRect</key>
                <string>{{297,850},{156,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{967,708},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,40}</string>
                <key>spriteSourceSize</key>
                <string>{17,40}</string>
                <key>textureRect</key>
                <string>{{314,299},{17,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{288,535},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{967,750},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{967,792},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{839,845},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{839,887},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{913,834},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{863,832},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{888,834},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{265,723},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_best_seller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{538,285},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{721,722},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_1800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{839,627},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_25000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,121}</string>
                <key>spriteSourceSize</key>
                <string>{178,121}</string>
                <key>textureRect</key>
                <string>{{288,595},{178,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_3800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{177,913},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{79,96}</string>
                <key>textureRect</key>
                <string>{{600,547},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_6000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,109}</string>
                <key>spriteSourceSize</key>
                <string>{147,109}</string>
                <key>textureRect</key>
                <string>{{538,436},{147,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_inner_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{600,645},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_purple_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,87}</string>
                <key>spriteSourceSize</key>
                <string>{363,87}</string>
                <key>textureRect</key>
                <string>{{333,196},{363,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-socialicons-ok_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{821,468},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-sweet_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,125}</string>
                <key>spriteSourceSize</key>
                <string>{201,125}</string>
                <key>textureRect</key>
                <string>{{689,341},{201,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-tasty_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,193}</string>
                <key>spriteSourceSize</key>
                <string>{284,193}</string>
                <key>textureRect</key>
                <string>{{333,1},{284,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{297,982},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,41}</string>
                <key>spriteSourceSize</key>
                <string>{14,41}</string>
                <key>textureRect</key>
                <string>{{436,982},{14,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{948,267},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{978,221},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{333,982},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{978,264},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{403,982},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{992,811},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{896,791},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{992,768},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,41}</string>
                <key>spriteSourceSize</key>
                <string>{14,41}</string>
                <key>textureRect</key>
                <string>{{1003,557},{14,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{937,834},{23,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{368,982},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlim_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,93}</string>
                <key>spriteSourceSize</key>
                <string>{174,93}</string>
                <key>textureRect</key>
                <string>{{1,913},{174,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlim_trace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{314,363},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlimspark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{314,341},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile_shop-538776575b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>tile_shop-538776575b.png</string>
        </dict>
    </dict>
</plist>
