<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>race-menubar-bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,49}</string>
                <key>spriteSourceSize</key>
                <string>{187,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,61}</string>
                <key>textureRect</key>
                <string>{{100,122},{82,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{190,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,68}</string>
                <key>textureRect</key>
                <string>{{1,52},{107,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{110,52},{75,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-life_unlim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,66}</string>
                <key>spriteSourceSize</key>
                <string>{97,66}</string>
                <key>textureRect</key>
                <string>{{1,141},{97,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{187,63},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{187,102},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>race-24a5f7ea09.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>race-24a5f7ea09.png</string>
        </dict>
    </dict>
</plist>
