<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1jam_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,58}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{123,105},{81,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2jam_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,72}</string>
                <key>spriteSourceSize</key>
                <string>{81,72}</string>
                <key>textureRect</key>
                <string>{{317,50},{81,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3jam_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{223,52},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cover1_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{317,1},{92,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cover2_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,49}</string>
                <key>spriteSourceSize</key>
                <string>{92,49}</string>
                <key>textureRect</key>
                <string>{{223,1},{92,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cover3_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,85}</string>
                <key>spriteSourceSize</key>
                <string>{59,85}</string>
                <key>textureRect</key>
                <string>{{276,124},{59,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_maker-images-jam_jar_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_maker-images-jam_jar_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_maker-images-jam_jar_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_maker-images-jam_jar_stable3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_maker-images-splash_drop2_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{478,93},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downbody_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{411,1},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hinge_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1,489},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam_jar_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam_jar_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam_jar_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam_jar_stable3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{478,127},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash1_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{400,93},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_drop1_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{337,175},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_drop2_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{478,93},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_drop3_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{337,124},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upbody_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{123,1},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upcover_jam_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{206,124},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dirt_maker-2b4377a2da.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>dirt_maker-2b4377a2da.png</string>
        </dict>
    </dict>
</plist>
