<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket_patch_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,98}</string>
                <key>spriteSourceSize</key>
                <string>{164,98}</string>
                <key>textureRect</key>
                <string>{{1,512},{164,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basket_patch_tournament_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,66}</string>
                <key>spriteSourceSize</key>
                <string>{113,66}</string>
                <key>textureRect</key>
                <string>{{397,622},{113,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_blik_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{42,643},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tournament_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,137}</string>
                <key>spriteSourceSize</key>
                <string>{164,137}</string>
                <key>textureRect</key>
                <string>{{1,373},{164,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,78}</string>
                <key>textureRect</key>
                <string>{{405,542},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-toolbar_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,224}</string>
                <key>spriteSourceSize</key>
                <string>{249,224}</string>
                <key>textureRect</key>
                <string>{{1,147},{249,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-window_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,98}</string>
                <key>spriteSourceSize</key>
                <string>{235,98}</string>
                <key>textureRect</key>
                <string>{{274,1},{235,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-window_down_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,98}</string>
                <key>spriteSourceSize</key>
                <string>{234,98}</string>
                <key>textureRect</key>
                <string>{{274,101},{234,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-window_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,144}</string>
                <key>spriteSourceSize</key>
                <string>{271,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,78}</string>
                <key>textureRect</key>
                <string>{{405,542},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_cow_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{456,690},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{460,201},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,172}</string>
                <key>textureRect</key>
                <string>{{235,564},{160,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,177}</string>
                <key>spriteSourceSize</key>
                <string>{175,177}</string>
                <key>textureRect</key>
                <string>{{252,298},{175,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_carpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,95}</string>
                <key>spriteSourceSize</key>
                <string>{206,95}</string>
                <key>textureRect</key>
                <string>{{252,201},{206,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{167,373},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_eyelid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,31}</string>
                <key>spriteSourceSize</key>
                <string>{69,31}</string>
                <key>textureRect</key>
                <string>{{167,523},{69,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{456,729},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,141}</string>
                <key>spriteSourceSize</key>
                <string>{72,141}</string>
                <key>textureRect</key>
                <string>{{429,399},{72,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{167,581},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{1,612},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{429,321},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{42,612},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,23}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{167,556},{66,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{460,294},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dog_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{397,690},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_doge_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{82,612},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_doge_wreath.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,85}</string>
                <key>spriteSourceSize</key>
                <string>{164,85}</string>
                <key>textureRect</key>
                <string>{{239,477},{164,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{167,476},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_trmnt_dragon_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{460,249},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>memorial-f1c9faed96.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>memorial-f1c9faed96.png</string>
        </dict>
    </dict>
</plist>
