<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colorcookieman-images-cookieman_blue_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_cells.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,297},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_green_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{149,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_purple_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{297,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_red_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_white_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{149,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-cookieman_yellow_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{297,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_blue_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_cells.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,297},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_green_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{149,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_purple_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{297,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_red_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_white_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{149,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_yellow_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{297,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{87,486},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{378,459},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{378,536},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{437,544},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{167,519},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{226,519},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{79,582},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{1,493},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{238,742},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{129,746},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{177,746},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{225,793},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{51,749},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{1,769},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{437,468},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{285,557},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{341,613},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{397,621},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{453,621},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{138,596},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{194,596},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{441,374},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{445,50},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{445,131},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{445,212},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{445,293},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{381,297},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{381,378},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,102}</string>
                <key>spriteSourceSize</key>
                <string>{76,102}</string>
                <key>textureRect</key>
                <string>{{1,575},{76,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{138,656},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{79,659},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{188,656},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{1,679},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{354,681},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{302,720},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{445,1},{60,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{209,297},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{295,297},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{209,371},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{302,673},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{404,681},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{448,681},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{404,705},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{448,705},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{404,729},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{448,729},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{123,412},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{295,371},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{1,419},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{209,445},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_brow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{104,463},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_brow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,9}</string>
                <key>spriteSourceSize</key>
                <string>{15,9}</string>
                <key>textureRect</key>
                <string>{{87,457},{15,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,110}</string>
                <key>spriteSourceSize</key>
                <string>{81,110}</string>
                <key>textureRect</key>
                <string>{{295,445},{81,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_door2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,113}</string>
                <key>spriteSourceSize</key>
                <string>{84,113}</string>
                <key>textureRect</key>
                <string>{{123,297},{84,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_door2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,123}</string>
                <key>spriteSourceSize</key>
                <string>{50,123}</string>
                <key>textureRect</key>
                <string>{{250,617},{50,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_door3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{109,438},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_door3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,7}</string>
                <key>spriteSourceSize</key>
                <string>{20,7}</string>
                <key>textureRect</key>
                <string>{{87,448},{20,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{109,451},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{87,468},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{87,438},{20,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{87,419},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colorcookieman-23669100d8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>colorcookieman-23669100d8.png</string>
        </dict>
    </dict>
</plist>
