<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon-images-gun_mustard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{92,1},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,120}</string>
                <key>spriteSourceSize</key>
                <string>{89,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_mustard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{92,1},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_mustard3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,315}</string>
                <key>spriteSourceSize</key>
                <string>{53,315}</string>
                <key>textureRect</key>
                <string>{{1,123},{53,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon-85c5b2dad1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>cannon-85c5b2dad1.png</string>
        </dict>
    </dict>
</plist>
