<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{960,484},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{788,484},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluekastulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{124,558},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,51}</string>
                <key>textureRect</key>
                <string>{{694,909},{100,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_blue_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{490,558},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_green_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_purple_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_red_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_white_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-images-bomb_yellow_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{993,37},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,33}</string>
                <key>spriteSourceSize</key>
                <string>{13,33}</string>
                <key>textureRect</key>
                <string>{{986,400},{13,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{988,266},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{986,301},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{993,69},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{986,336},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{993,104},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{986,369},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{993,137},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-white_digits-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{993,168},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_blue_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{490,558},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_green_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_purple_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_red_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_white_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,656},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,778},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_yellow_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,900},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>centr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{1014,266},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenkastrulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{246,558},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,51}</string>
                <key>spriteSourceSize</key>
                <string>{101,51}</string>
                <key>textureRect</key>
                <string>{{591,909},{101,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,95}</string>
                <key>spriteSourceSize</key>
                <string>{198,95}</string>
                <key>textureRect</key>
                <string>{{788,184},{198,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{100,49}</string>
                <key>textureRect</key>
                <string>{{695,836},{100,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{573,802},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{573,746},{100,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,56}</string>
                <key>textureRect</key>
                <string>{{489,924},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,61}</string>
                <key>textureRect</key>
                <string>{{489,861},{100,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jam6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{573,802},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jamflash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,16}</string>
                <key>textureRect</key>
                <string>{{489,982},{64,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaplya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{1011,369},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kastulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,87}</string>
                <key>spriteSourceSize</key>
                <string>{121,87}</string>
                <key>textureRect</key>
                <string>{{1,558},{121,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>krishka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,51}</string>
                <key>spriteSourceSize</key>
                <string>{102,51}</string>
                <key>textureRect</key>
                <string>{{591,856},{102,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>par.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{988,235},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpurkastrulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{368,558},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpurup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,51}</string>
                <key>textureRect</key>
                <string>{{694,962},{100,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redkastrulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{612,558},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,51}</string>
                <key>spriteSourceSize</key>
                <string>{101,51}</string>
                <key>textureRect</key>
                <string>{{591,962},{101,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_blue_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,181}</string>
                <key>spriteSourceSize</key>
                <string>{203,181}</string>
                <key>textureRect</key>
                <string>{{788,1},{203,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_blue_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{988,199},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_blue_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{988,199},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_red_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,201}</string>
                <key>spriteSourceSize</key>
                <string>{196,201}</string>
                <key>textureRect</key>
                <string>{{788,281},{196,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_red_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{993,1},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sad_candy_red_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{993,1},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,555}</string>
                <key>spriteSourceSize</key>
                <string>{785,555}</string>
                <key>textureRect</key>
                <string>{{1,1},{785,555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splashlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,113}</string>
                <key>spriteSourceSize</key>
                <string>{82,113}</string>
                <key>textureRect</key>
                <string>{{489,746},{82,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitekastrulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{612,644},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,51}</string>
                <key>textureRect</key>
                <string>{{675,730},{100,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowkastrulka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{489,660},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,51}</string>
                <key>textureRect</key>
                <string>{{675,783},{100,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb-79876308db.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>bomb-79876308db.png</string>
        </dict>
    </dict>
</plist>
