<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottle_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,126}</string>
                <key>spriteSourceSize</key>
                <string>{87,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{90,127},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_buble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{69,200},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_filling1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,37}</string>
                <key>textureRect</key>
                <string>{{1,200},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_filling2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{176,207},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_filling3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{177,1},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{177,104},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_grey1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,37}</string>
                <key>textureRect</key>
                <string>{{1,239},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_grey3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{1,129},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle_color_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{69,250},{41,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_container-images-color_container_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,124}</string>
                <key>spriteSourceSize</key>
                <string>{85,124}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_container_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,124}</string>
                <key>spriteSourceSize</key>
                <string>{85,124}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>color_container-d734a3ca5b.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>color_container-d734a3ca5b.png</string>
        </dict>
    </dict>
</plist>
