<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{131,367},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{131,47},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_body_cater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{201,205},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_body_cater2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{201,164},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{131,300},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,65}</string>
                <key>textureRect</key>
                <string>{{131,164},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_door_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{239,292},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_eye_up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{198,361},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_eye_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{199,292},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,44}</string>
                <key>spriteSourceSize</key>
                <string>{117,44}</string>
                <key>textureRect</key>
                <string>{{131,1},{117,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{131,231},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{228,353},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>apple_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{228,327},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appple_1_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{199,250},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appple_2_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{198,327},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crab_maker-8053fa95c4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>crab_maker-8053fa95c4.png</string>
        </dict>
    </dict>
</plist>
