<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_pass-bp_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,50}</string>
                <key>spriteSourceSize</key>
                <string>{154,50}</string>
                <key>textureRect</key>
                <string>{{1,457},{154,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,50}</string>
                <key>spriteSourceSize</key>
                <string>{154,50}</string>
                <key>textureRect</key>
                <string>{{157,454},{154,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_hint_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{119,107}</string>
                <key>textureRect</key>
                <string>{{167,116},{119,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{134,338},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{1,338},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,112}</string>
                <key>spriteSourceSize</key>
                <string>{86,112}</string>
                <key>textureRect</key>
                <string>{{313,391},{86,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{401,277},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,86}</string>
                <key>textureRect</key>
                <string>{{401,367},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{266,277},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,113}</string>
                <key>spriteSourceSize</key>
                <string>{122,113}</string>
                <key>textureRect</key>
                <string>{{167,1},{122,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-bp_task_icon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{162,225},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,133}</string>
                <key>spriteSourceSize</key>
                <string>{79,133}</string>
                <key>textureRect</key>
                <string>{{86,1},{79,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{313,1},{160,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{313,93},{160,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{313,185},{160,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,169}</string>
                <key>spriteSourceSize</key>
                <string>{83,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-pass_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,164}</string>
                <key>spriteSourceSize</key>
                <string>{159,164}</string>
                <key>textureRect</key>
                <string>{{1,172},{159,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_pass-40bfe0369c.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>battle_pass-40bfe0369c.png</string>
        </dict>
    </dict>
</plist>
