<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookieman-images-cookieman_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{123,75},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{1,123},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1,205},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{159,171},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,102}</string>
                <key>spriteSourceSize</key>
                <string>{76,102}</string>
                <key>textureRect</key>
                <string>{{81,171},{76,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{159,265},{60,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{123,1},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_body_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{203,75},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_brow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{239,12},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_brow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,9}</string>
                <key>spriteSourceSize</key>
                <string>{15,9}</string>
                <key>textureRect</key>
                <string>{{239,1},{15,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{231,24},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{244,24},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{209,20},{20,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ginger_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{209,1},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cookieman-df3b450c8b.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>cookieman-df3b450c8b.png</string>
        </dict>
    </dict>
</plist>
