<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock-images-clock_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,380},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{123,380},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{225,1},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_eyelid_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{215,43},{31,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_eyelid_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{191,62},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_eyelid_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{172,26},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,380},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,21}</string>
                <key>spriteSourceSize</key>
                <string>{17,21}</string>
                <key>textureRect</key>
                <string>{{172,62},{17,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,23}</string>
                <key>spriteSourceSize</key>
                <string>{51,23}</string>
                <key>textureRect</key>
                <string>{{172,1},{51,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,123}</string>
                <key>spriteSourceSize</key>
                <string>{167,123}</string>
                <key>textureRect</key>
                <string>{{1,255},{167,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_list_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{169,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clock-3daea11e20.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>clock-3daea11e20.png</string>
        </dict>
    </dict>
</plist>
