<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee_antenne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{1,237},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{185,43},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{77,1},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,55}</string>
                <key>spriteSourceSize</key>
                <string>{31,55}</string>
                <key>textureRect</key>
                <string>{{120,74},{31,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{185,1},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_effect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{137,1},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{163,52},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{208,123},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{163,69},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_honey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,20}</string>
                <key>spriteSourceSize</key>
                <string>{41,20}</string>
                <key>textureRect</key>
                <string>{{120,52},{41,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{233,16},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,13}</string>
                <key>spriteSourceSize</key>
                <string>{21,13}</string>
                <key>textureRect</key>
                <string>{{233,1},{21,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_wing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{41,46}</string>
                <key>textureRect</key>
                <string>{{77,52},{41,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_wing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{226,111},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_wing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{179,88},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{179,121},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,33}</string>
                <key>spriteSourceSize</key>
                <string>{13,33}</string>
                <key>textureRect</key>
                <string>{{211,88},{13,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{153,89},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{153,124},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{229,43},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{207,173},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{229,78},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{1,206},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{208,142},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{179,153},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice_maker-6b943b8cd6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>ice_maker-6b943b8cd6.png</string>
        </dict>
    </dict>
</plist>
