<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy_back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{184,148}</string>
                <key>textureRect</key>
                <string>{{1,570},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,118}</string>
                <key>spriteSourceSize</key>
                <string>{149,118}</string>
                <key>textureRect</key>
                <string>{{1,870},{149,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,133}</string>
                <key>spriteSourceSize</key>
                <string>{229,133}</string>
                <key>textureRect</key>
                <string>{{235,442},{229,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_backside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,201}</string>
                <key>spriteSourceSize</key>
                <string>{232,201}</string>
                <key>textureRect</key>
                <string>{{1,243},{232,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,148}</string>
                <key>spriteSourceSize</key>
                <string>{167,148}</string>
                <key>textureRect</key>
                <string>{{1,720},{167,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{170,727},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{170,727},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_eyedown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,14}</string>
                <key>spriteSourceSize</key>
                <string>{41,14}</string>
                <key>textureRect</key>
                <string>{{467,243},{41,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_eyeup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{170,782},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,9}</string>
                <key>spriteSourceSize</key>
                <string>{21,9}</string>
                <key>textureRect</key>
                <string>{{485,1},{21,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{467,292},{27,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{467,259},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{467,259},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,148}</string>
                <key>spriteSourceSize</key>
                <string>{182,148}</string>
                <key>textureRect</key>
                <string>{{187,577},{182,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,116}</string>
                <key>spriteSourceSize</key>
                <string>{164,116}</string>
                <key>textureRect</key>
                <string>{{152,870},{164,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_up3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,122}</string>
                <key>spriteSourceSize</key>
                <string>{227,122}</string>
                <key>textureRect</key>
                <string>{{1,446},{227,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_upside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,197}</string>
                <key>spriteSourceSize</key>
                <string>{230,197}</string>
                <key>textureRect</key>
                <string>{{235,243},{230,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon-images-dragon_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon-images-dragon_stable_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_stable_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon-bd431708d0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>dragon-bd431708d0.png</string>
        </dict>
    </dict>
</plist>
