<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cake-images-cake_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{244,1},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{370,1},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{244,132},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{1,394},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{311,282},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{311,411},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{1,523},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{251,540},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{125,542},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{370,132},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{1,244},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{186,263},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-cake_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{126,413},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{244,1},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{370,1},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{244,132},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{1,394},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{311,282},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{311,411},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{1,523},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{251,540},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{125,542},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{370,132},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{1,244},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{123,148}</string>
                <key>textureRect</key>
                <string>{{186,263},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{126,413},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{126,244},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cake-93d6d57fba.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>cake-93d6d57fba.png</string>
        </dict>
    </dict>
</plist>
